{{{headerBlock}}}
<main class="popup popup_type_signin">
  <div class="popup__content">
    <div class="popup__title">Вход</div>
    <form class="popup__form popup__form_type_signin" novalidate id="validateRform">
      <div>
        <p class="popup__input-title">Логин</p>
        <input type="login" id="login-signin" name="login" class="popup__input" required minlength="3" placeholder="Логин" value="">
        <span id="error-login-signin" class="error-message"></span>
        <p class="popup__input-title">Пароль</p>
        <input type="password" id="password-signin" name="password" class="popup__input" required minlength="8" placeholder="Пароль" value="">
        <span id="error-password-signin" class="error-message"></span>
      </div>
      <div>
        <button id="popup-button-signin" class="popup__button" disabled >Авторизоваться</button>
        <p class="popup__no-account">
        <a class="popup__no-account popup__no-account_link" id="no-account" href="#">Нет аккаунта?</a></p>
      </div>
    </form>
  </div>
</main>
