{{{headerBlock}}}
<main class="popup popup_type_signin">
  <div class="popup__content">
    <div class="popup__title">Новый чат</div>
    <form class="popup__form popup__form_type_password" novalidate id="validateRform">
      <div>
        <p class="popup__input-title">Имя чата</p>
        {{{inputPassword}}}
        {{{errPlacePassword}}}
      </div>
      <div>
        {{{passwordButton}}}
      </div>
    </form>
  </div>
</main>
