{{{headerBlock}}}
<main class="profile">
  <div class="prfile__img-block">
    <div class="user-img"></div>
    <div class="sub-name">Иван</div>
  </div>
  <div class="profile__info-block">
    <div class="profile__item">
      <div class="item-info">Почта</div>
      <div class="item-value">pochta@yandex.ru</div>
    </div>
    <div class="profile__item">
      <div class="item-info">Логин</div>
      <div class="item-value">ivanivanov</div>
    </div>
    <div class="profile__item">
      <div class="item-info">Имя</div>
      <div class="item-value">Иван</div>
    </div>
    <div class="profile__item">
      <div class="item-info">Фамилия</div>
      <div class="item-value">Иванов</div>
    </div>
    <div class="profile__item">
      <div class="item-info">Имя в чате</div>
      <div class="item-value">Иван</div>
    </div>
    <div class="profile__item">
      <div class="item-info">Телефон</div>
      <div class="item-value">+7 (909) 967 30 30</div>
    </div>
  </div>
  <div class="profile__buttons-block">
    <div class="profile__item"><a class="profile-btn" id="change-data" href="edit-profile">Изменить данные</a></div>
    <div class="profile__item"><a class="profile-btn" id="change-password" href="edit-profile">Изменить пароль</a></div>
    {{{exitButton}}}
    {{!-- <btn class="exit-btn" id="logOut">Выйти</btn> --}}
  </div>
</main>
