.profile{
  margin: 60px auto 0 auto;
  max-width: 510px;
}

.prfile__img-block{
  width: 100%;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-img{
  background-color: #EFEFEF;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.sub-name{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: black;
}
