<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Massenger</title>
  <link rel="stylesheet" href="../../pages/index.pcss" />
</head>
<body>
  <div class="root">
    <header class="pages-nav">
      <a href="../sign-up/signup.hbs">{{> button/button label = 'Регистрация' className='button-nav'}}</a>
      <a href="../sign-in/signin.hbs">{{> button/button label = 'Вход' className='button-nav'}}</a>
      <a href="../../main/index.hbs">{{> button/button label = 'Основная' className='button-nav'}}</a>
    </header>
    <div class="profile">
      <div class="prfile__img-block">
        <div class="user-img"></div>
        <div class="sub-name">Иван</div>
      </div>
    </div>
  </div>
</body>
</html>
