---
id: "root" 
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Massenger</title>
  <link rel="stylesheet" href="../../pages/index.pcss" />
</head>
<body>
  <div class="root-err">
    <header class="pages-nav">
      <a href="../sign-up/signup.hbs">{{> button/button label = 'Регистрация' className='button-nav'}}</a>
      <a href="../sign-in/signin.hbs">{{> button/button label = 'Вход' className='button-nav'}}</a>
      <a href="../../main/index.hbs">{{> button/button label = 'Основная' className='button-nav'}}</a>
      <a href="../profile/profile.hbs">{{> button/button label = 'Профиль' className='button-nav'}}</a>    
    </header>
    <div class="err__block">
      <h1 class="err__num">500</h1>
      <h2 class="err__description">Мы уже фиксим</h2>
      <a class="err__btn" id="back-to-chat" href="../../main/index.hbs">Назад к чатам</a>
    </div>
  </div>
</body>
</html>
