.chat__block{
  width: 290px;
  height: 70px;
  border-bottom: 1px solid #EAEAEA;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: visible;
}

.content-holder{
  position: relative;
  width: 310px;
  height: 70px;
  margin: 2px 0;
  left: -10px;
}

.content-holder__choice{
  background-color: #E4EDFD;
}
