
@import "../../static/normalize.pcss";
/* @import "../../static/fonts.pcss"; */
@import "../main/main.pcss";
@import "../partials/button/button.pcss";
@import "../partials/chat/chat.pcss";
@import "../partials/message/message.pcss";
@import "sign-up/signup.pcss";
@import "sign-in/signin.pcss";
@import "profile/profile.pcss";
@import "edit-profile/edit-profile.pcss";
@import "404/404.pcss";
@import "500/500.pcss";
