{{{headerBlock}}}
<main class="popup popup_type_signin">
  <div class="popup__content">
    <div class="popup__title">Смена аватара</div>
    <form class="popup__form popup__form_type_avatar" novalidate id="avatarForm">
      <div>
        <p class="popup__input-title popup__input-title_upload-file">Ссылка на картинку</p>
        {{{inputAvatar}}}
        {{{errPlaceAvatar}}}
      </div>
      <div>
        {{{avatarButton}}}
      </div>
    </form>
  </div>
</main>
