---
id: "root" 
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Massenger</title>
  <link rel="stylesheet" href="../pages/index.pcss" />
</head>
<body>
  <div class="root">
    <header class="pages-nav">
      <a class="button-nav" href="../pages/sign-in/signin.hbs">{{> button/button label = 'Вход'}}</a>
      <a class="button-nav" href="../pages/sign-up/signup.hbs">{{> button/button label = 'Регистрация'}}</a>
      <a class="button-nav" href="../pages/profile/profile.hbs">{{> button/button label = 'Профиль'}}</a>
      <a class="button-nav" href="../pages/404/404.hbs">{{> button/button label = '404'}}</a>
      <a class="button-nav" href="../pages/500/500.hbs">{{> button/button label = '500'}}</a>
    </header>
    <div class="chat">
      <div class="chat__left">
        <div class="chat__search-block">
          <p class="chat__profile">Профиль ></p>
          <input type="search" id="search-chat" name="search" class="chat__search" placeholder="Поиск" value="">
        </div>
        <div class="chat__list">
          {{> chat/chat  userName = 'Гутенберг' lastMessage ='Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Cupiditate assumenda totam iusto quam, voluptatibus sequi sit. 
            Eaque quaerat nobis quod.' dateTime = '15:12' unredAmount = 3 }}
          {{> chat/chat  userName = 'Гутенберг' lastMessage ='Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Cupiditate assumenda totam iusto quam, voluptatibus sequi sit. 
            Eaque quaerat nobis quod.' dateTime = '15:12' unredAmount = 3 }}
          {{> chat/chat  contentClass = "content-holder__choice" userName = 'Аня' lastMessage ='Привет, дружище' dateTime = 'Вт' isUnread = "unread-show" unredAmount = 3 }}
        </div>
      </div>
      <div class="chat__right">
        <div class="chat__header">
          <div class="header-content">
            <div class="header-avatar"></div>
            <div class="header-options-button">
              <div class="options-dot"></div>
              <div class="options-dot"></div>
              <div class="options-dot"></div>
            </div>
          </div>
        </div>
        <div class="chat__mesaages">
          {{> message/message contentClass = "message_received" isPicture='' textMessage='Привет! Смотри, 
          тут всплыл интересный кусок лунной космической 
          истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC 
          для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL —
           и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так
           как астронавты с собой забрали только кассеты с пленкой.<br><br>Хассельблад в итоге 
           адаптировал SWC для космоса, но что-то пошло не так и на ракету 
          они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно 
          продали на аукционе за 45000 евро. <span class="message__time">11:56</span>' showImg=''}}
          {{> message/message contentClass = "" textMessage='' sentTime = '11:56' showImg='message__img-show'}}
          {{> message/message contentClass = "message_sent" sentTime = '12:00' isPicture='' textMessage='Круто!' showImg=''}}

        </div>
        <div class="chat__write">
          <form class="write__input-block">
            <button type="button" class="write__attach"></button>
            <div class="write__box-wrapper">
              <input type="text" class="write__box" required placeholder="Сообщение" value="">
            </div>
            <button type="submit" class="write__button">
              <div class="button-arrow"></div>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
